.card {
   display: flex;
   align-items: center;
   padding-top: 40px;
   padding-bottom: 40px;
   height: 100%;
}

.signup {
   background-color: #123;
   color: #fff;
}

.signup .form-signup {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
}

.signup .logo-white {
   margin-bottom: 30px;
   width: 50px;
}

.signup h1 {
   font-size: 20px;
   margin-bottom: 20px;
}

.signup input {
   margin-bottom: 10px;
   background-color: #123;
   border-color: #456;
   color: #fff;
}